<!DOCTYPE html>
<html>
<head>
	<title>About Developer</title>
	<meta charset="utf-8" name="description" content="Foundation Elective Course FEC for Delhi Technological University Subject Environmental Logical Communication Financial French German Papers Notes Books by Shivam Singhal">
	<meta charset="utf-8" name="author" content="Shivam Singhal">
	<meta charset="utf-8" name="keyword" content="DTUFec , Shivam Singhal">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheet/about.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">DTU FEC</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" target= "_blank" href="https://play.google.com/store/apps/details?id=com.abhishekbabbar1989.dtufec">Get an Android<i class="fab fa-android"></i>App</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link disabled" href="/about">About Developer</a>
		      </li>
		    </ul>
				<a class="nav-link" target= "_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScvtkm8vfktc-ps9gp1aIqx47LR4WPUnFOM8Oesx7P946GzJA/viewform?usp=sf_link" style="color: black">FeedBack Form</a>
		  </div>
	</nav>
	<div class="container">
		  <div class="main-info">

		    <img src="/img/shivam.jpg" class="rounded-circle mb-3" width="160px">

		    <h1 class="heading">Hello! I'm <br> <strong> Shivam Singhal</strong></h1>

		    <h5 style="color: gray">Studying BTECH Computer Engineering at <a href="http://www.dtu.ac.in/" style="color:gray; font-weight: bold ">Delhi Technological Univesity</a></h5>
		    <h2 class="contact" >CONTACT </h2>
		    <div class= "social-icons">
		        <a target="_blank" href="https://www.facebook.com/shivam.singla.127/">
		          <i class="fab fa-facebook-f"></i>
		        </a>
		        <a target="_blank" href="https://github.com/ShivamSinghal1/">
		          <i class="fab fa-github"></i>
		        </a>
		        <a target="_blank" href="https://www.instagram.com/shivam_singhal.10/">
		          <i class="fab fa-instagram"></i>
		        </a>
		        <a target="_blank" href="https://www.linkedin.com/in/shivam-singhal-682321175/">
		          <i class="fab fa-linkedin-in"></i>
		        </a>
		    </div>
		    	<h4><i class="fas fa-phone"></i>Phone:</h4>
		       <h5><a href="tel:+919582256967" style="color: black;" target="_blank">+91 9582256967</a></h5>
		       <h4><i class="fas fa-envelope"></i>Gmail:</h4>
		       <h5><a href="mailto:shivamsinghal1012@gmail.com?Subject=Hello" target="_top">shivamsinghal1012@gmail.com</a></h5>
		  </div>
		  <footer class="page-footer font-small blue pt-4">
			<div class="footer-copyright text-center py-3">© 2019 Copyright:
		    	<a href="/"> DTU FEC</a>
		  	</div>
		  		<!-- Copyright -->
		</footer> 
	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>
</body>
</html>